.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

@media (max-width: 576px) {
  .home {
    align-items: start;
    margin-left: 70px;
  }
}